.lista {
  margin: 0 auto;
  max-width: 60rem;
  display: grid;
  row-gap: 1rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

button{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50% -50%);
}
